<!-- templates/student.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
</head>
<body>
    <h1>Welcome,to ElectricalComputerScienceDepartment</h1>
    <form method="POST" action="/logout">
        <button type="submit"><a href="http://localhost:3000/facultyLogin">logout</a></button>
    </form>
</body>
</html>